<footer class="py-6 mt-12">
        <div class="container mx-auto px-4 text-center text-gray-400">
            <p>&copy; 2025 DApp Explorer. All rights reserved.</p>
        </div>
    </footer>
    <script src="/js/main.js"></script>
</body>
</html>
